body {
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    font-size: 100%;
    font-weight: 100;
    height: 100%;
    margin:0;
    padding:0;
}

pre {
  text-align: left;
}

h1 {
    font-weight: normal;
    padding:  10px;
}

h2 {
    font-weight: normal;
    padding:  10px;
}

h3 {
    font-weight: normal;
    padding:  10px;
}

.wrapper{
    background-image: url(../img/box.png);
    background-repeat: no-repeat;
    background-position-x:  -750px;
    background-position-y:  -10px;
}

.bi-check2-circle{
    font-size:25px;
    color: #07aa6d;
}

.feature-set{
    margin-top:  25px;
    margin-left:  20%;
    text-align:  left;
}


.feature{
  margin-top:  30px;
}

.main-content{
    min-height: 230px;
    margin-bottom: 30px;
}

.sidebar-content{
    min-height: 50px;
    margin-bottom: 30px;
    padding:  10px;
    border-top:  1px solid #6e2aa3;
}

.tier-content{
    min-height: 230px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    width:  85%;
    margin-left:  7.5%;
    margin-right:  7.5%;
}

.col-sm-4{
    width: 33%;
    float:  left;
}

.tier-option{

    height: 456px;
    padding: 0;
    background: #fff;
    border: 1px solid #f0f3f7;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: -webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: transform .25s cubic-bezier(.215,.61,.355,1),box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: transform .25s cubic-bezier(.215,.61,.355,1),box-shadow .25s cubic-bezier(.215,.61,.355,1),-webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);

    /*
    margin: 25px 0 0;
    margin-left:  15px;
    margin-right: 15px;
    width: 20%;
    border-right:  1px solid #6e2aa3;
    */

}

.header-content{}

.footer-content{
    background:  #ffffff;
    border-top:  1px solid #eeeeee;
    width:  100%;
}

.signup{
    margin:  5px;
}

.login{
    margin:  5px;
}

.elevate {
    background: linear-gradient(-60deg,#f99d1c,#f99c1c 10%,#f4781f 30%,#f16221 43%,#f05a22 58%,#ee1d62 76%,#ed0080 97%);
        background-size: auto;
        background-clip: border-box;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f99d1c",endColorstr="#ed0080",GradientType=1);
    line-height: 120%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%,100%;
    display: inline-block;
}

/*
    FORM INPUTS
*/

.signup-content{
    min-height: 230px;
    margin-bottom: 30px;
    width:  85%;
    margin-left:  7.5%;
    margin-right:  7.5%;
}

.signup-content .main-content{}


.signup-content .signup-form {

    padding: 0;
    background-color: #fff;
    border: 1px solid #f0f3f7;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: -webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: transform .25s cubic-bezier(.215,.61,.355,1),box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: transform .25s cubic-bezier(.215,.61,.355,1),box-shadow .25s cubic-bezier(.215,.61,.355,1),-webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    padding:  30px;

    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

    background-image: url(https://openmoji.org/data/color/svg/1F984.svg);
    background-repeat: no-repeat;
    background-size: 75px 75px;
    background-position: 50% 10px;

    margin-top:  100px;
    padding-top:  100px;

    border-radius:  1em;

}

.signup-form label {
    display:  flex;
    padding-left:  6px;
}

.signup-form h1 {
    font-size: 1.75em;
    font-weight: 100;
    color: #42526e;
    margin:  0;
}

.signup-form p {
    font-size: 1em;
    font-weight: 400;
    color: #738095;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.signup-form small {
    display:  flex;
    padding-left:  10px;
}

input.form-control {
    border: 2px solid #b3bac5;
}

select.form-control {
    border: 2px solid #b3bac5;
}


input.radio-control {}

ul.radio-control {
    border: 2px solid #b3bac5;
    list-style-type: none;
    border-radius: 0.25em;
}

ul.radio-control li {
    padding: 3px;
    text-align: left;
}


ul.radio-control label {
    display: inline;
}

input.file-selector {
    display: inline;
    width: 100%;
    border: 2px solid #b3bac5;
}

label.file-selector {
    display: inline;
}

.signup-form .form-group {
    margin-top: 15px;
}

.form-group label {
    font-size: 0.8em;
    font-weight: bold;
    color: #42526e;
}

/*
    DASHBOARD
*/

.dashboard-wrapper{}

.dashboard-logo{
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  font-size:1.5em;
}

.dashboard-nav{
  position: relative;
  left: 80%;
  width:  20%;
}

.profile-menu{
  width:  300px;
  position:  absolute;
  left: -250px;
}

.dropdown-item{
    margin: 10px;
}


.dashboard-row {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:  100px;

}

.dashboard-grid {}

.dashboard-option {}


.dashboard-card .subscribed {
    background-image: url(https://openmoji.org/data/color/svg/2714.svg);
    background-repeat: no-repeat;
    background-position-x:  0px;
    background-position-y:  0px;
    padding-left:  5px;
    min-height: 30px;
    font-weight: 900;
}


.dashboard-option img {
    height : 90px;
}

.dashboard-card {
    padding: 0;
    background-color: #fff;
    border: 1px solid #f0f3f7;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: -webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: transform .25s cubic-bezier(.215,.61,.355,1),box-shadow .25s cubic-bezier(.215,.61,.355,1);
    transition: transform .25s cubic-bezier(.215,.61,.355,1),box-shadow .25s cubic-bezier(.215,.61,.355,1),-webkit-transform .25s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .25s cubic-bezier(.215,.61,.355,1);
    padding:  30px;

    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

    border-radius:  1em;  
    height: 100%;
}

.dashboard-form {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.dashboard-form label {
    display:  flex;
    padding-left:  6px;
}

.dashboard-form .form-group {}

.jwt {
    background-image: url(https://jwt.io/img/pic_logo.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 5px;
    padding-left: 20px;
    margin-left: 80%;
    display: block;
    font-size: 90%;

/*    background-position-x:  5px;*/
    background-position-y:  8px;

}

.link-label {
  margin:  20px;
}

table.dropdown-profile{
    width: 100%;
}

table.dropdown-profile td{
    padding: 5px;
}

td.profile-icon{
    width: 50px;
    padding: 5px;
}

td.profile-name{
    padding: 5px;
    padding-left:  15px;
}

.table-responsive{
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;    
}

th.profile-key{
    width: 20%;
    text-align: left;
}

td.profile-value{
    width: 80%;
    text-align: left;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

/*
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
*/

.navbar .nav-title {
    font-weight: 700;
    margin-right: 20px;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


