{% extends "base.html" %}

{% block main_content %}
    <div class="container-fluid wrapper">

        {% if form is defined %}

            <div class="login-box">

                <form action="{{ request.path }}" method="POST">
                    
                    {{ form.csrf_token }}

                    <table class="table-responsive">
                        <tbody>

                            <tr>
                                <th scope="row" class="label">
                                    <label>{{ form.organization_id.label }}</label>
                                </th>
                                <td class="field">
                                    {{ form.organization_id(class_="form-control") }}
                                </td>
                            </tr>

                            {% with messages = get_flashed_messages(with_categories=true) %}
                                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                                {% if messages %}
                                    <tr><td>
                                        {% for category, message in messages %}

                                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                    </td></tr>
                                {% endif %}
                            {% endwith %}

                            {% if request.path == '/signup/' %}

                                <tr><td class="field">
                                    {{ form.username(class_="form-control",placeholder="Username")}}

                                    {% for error in form.username.errors %}
                                        {{ error }}
                                    {% endfor%}
                                </td></tr>

                            {% endif%}

                            <tr><td class="field">
                                {{ form.email(class_="form-control",placeholder="Email")}}

                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor%}
                            </td></tr>

                            <tr><td class="field">

                                {{ form.pwd(class_="form-control",placeholder="Password")}}

                                {% for error in form.pwd.errors %}
                                    {{ error }}
                                {% endfor%}

                            </td></tr>

                            {% if request.path == '/signup/' %}
                                <tr><td class="field">

                                    {{ form.cpwd(class_="form-control",placeholder="Confirm Password")}}
                                    {% for error in form.cpwd.errors %}
                                        {{ error }}
                                    {% endfor%}
                                </td></tr>
                            {% endif%}

                            <tr><td>
                                <button type="submit" class="btn btn-block btn-primary mb-3">
                                    {{ btn_action }}
                                </button>
                            </td></tr>
                                
                            <tr><td>
                                <p>
                                    {% if request.path != '/signup/' %}
                                        New here?
                                        <a href="{{url_for('signup')}}">Create account</a>
                                    {% else %}
                                        Already have an account?
                                        <a href="{{url_for('login')}}">Login</a>
                                    {% endif %}
                                </p>
                            </td></tr>
                        </tbody>
                    </table>
                </form>

            <!-- closes login box -->
            </div>
        {% endif %}

    <!-- closes wrapper -->
    </div>

{% endblock %}
