{% extends "dash/dashboard.html" %}

{% block main_content %}
    <h2>Create an IdP Connection</h2>

<div class="row dashboard-row">
    <div class="col-sm-4 dashboard-grid">
        <div class="dashboard-card">
            {% if data.is_org_admin %}
                <a href="/dashboard/createconn/saml" class="dashboard-option">
                    <img class="dashboard-icon" src="https://identicons.dev/static/icons/mono/svg/icon-boundary-protocol.svg" alt="SAML">
                    <div class="link-label">SAML</div>
                </a>
                <a class="btn btn-primary signup" href="/dashboard/createconn/saml">New SAML Connection</a>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4 dashboard-grid">
        <div class="dashboard-card">
            {% if data.is_org_admin %}
                <a href="/dashboard/createconn/oidc" class="dashboard-option">
                    <img class="dashboard-icon" src="https://identicons.dev/static/icons/mono/svg/icon-attributes.svg" alt="OIDC">
                    <div class="link-label">OIDC</div>
                </a>
                <a class="btn btn-primary signup" href="/dashboard/createconn/oidc">New IODC Connection</a>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4 dashboard-grid">
        <div class="dashboard-card">
            {% if data.is_org_admin %}
                <a href="/dashboard/createconn/oauth2" class="dashboard-option">
                    <img class="dashboard-icon" src="https://identicons.dev/static/icons/mono/svg/icon-authentication-a.svg" alt="OAuth2">
                    <div class="link-label">OAuth2</div>
                </a>
                <a class="btn btn-primary signup" href="/dashboard/createconn/oauth2">New OAuth2 Connection</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
