{% extends "dash/dashboard.html" %}

{% block main_content %}
    <h2>Invite a New Member</h2>

    {% if form is defined %}

        <div class="dashboard-form">
            <form method="POST" action="{{ url_for('create_invitation') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group">
                    <fieldset class="form-field">
                        {{ form.email.label }}
                        {{ form.email(class_="form-control") }}
                    </fieldset>
                </div>
                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
    {% endif %}

    {% if data is defined %}

        {% if 'invite_data' in data %}

            <table class="table-responsive table-striped table-sm">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="profile-key">Invter</th>
                        <td class="profile-value">{{ data.invite_data.inviter.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="profile-key">Invitee</th>
                        <td class="profile-value">{{ data.invite_data.invitee.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="profile-key">Roles</th>
                        <td class="profile-value">{{ data.invite_data.roles }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="profile-key">Organization</th>
                        <td class="profile-value">{{ data.invite_data.organization_id }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="profile-key">Invitation URL</th>
                        <td class="profile-value">
                            <a href="{{ data.invite_data.invitation_url }}">
                                {{ data.invite_data.invitation_url }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="profile-key">Created</th>
                        <td class="profile-value">{{ data.invite_data.created_at }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="profile-key">Expires</th>
                        <td class="profile-value">{{ data.invite_data.expires_at }}</td>
                    </tr>
                </tbody>
            </table>

        {% endif %}
    {% endif %}
{% endblock %}

